{% extends "betterbuilds/base.html" %}
{% block content %}
<div class="container py-4">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Campeones</li>
        </ol>
    </nav>
    <div class="mb-3">
        <input type="text" class="form-control" id="search-champion" placeholder="Busca un campeón">
    </div>
    <div class="row" id="champion-list">
    {% for champion in champions %}
        <div class="col-3" data-champion="{{ champion.name }}">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="{{ champion.image.url }}" class="img-fluid rounded-start" alt="{{ champion.name }}">
                    </div>
                    <div class="col-8 card-body d-flex align-items-center">
                        <h5 class="card-title">{{ champion.name }}</h5>
                        <a href="{% url 'champion_builds' champion_id=champion.id %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$(document).ready(function(){
    $("#search-champion").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#champion-list").children().filter(function() {
            $(this).toggle($(this).data('champion').toLowerCase().indexOf(value) > -1);
        });
    });
});
</script>
{% endblock scripts %}