{% extends "betterbuilds/base.html" %}
{% block content %}
<div class="container py-4">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'champions' %}">Campeones</a></li>
            <li class="breadcrumb-item active">{{ champion.name }}</li>
        </ol>
    </nav>
    {% if frequent_build is not None %}
        <div>
            {% for build in frequent_build.builds %}
            Esta elección se realiza el {{ build.support }}% de las partidas:
                {% for item in build.items %}
                <img src={{ item.image.url }}>
                {% endfor %}
                <br>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            En este momento no existen conjuntos de objetos para el campeón seleccionado
        </div>
    {% endif %}
</div>
{% endblock %}
