{% extends "betterbuilds/base.html" %}
{% block content %}
<div class="container py-4">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'champions' %}">Campeones</a></li>
            <li class="breadcrumb-item active">{{ champion.name }}</li>
        </ol>
    </nav>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-2">
                <img class="img-fluid" src="{{ champion.skins.0.loading_image_url }}">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h1 class="card-title">{{ champion.name }}</h1>
                    <span class="card-text text-muted">{{ frequent_build.games }} partidas analizadas</span>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-test">{{ champion.lore }}</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Consejos</h4>
                            <ul>
                            {% for tip in champion.ally_tips %}
                                <li class="card-test">{{ tip }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if frequent_build is not None %}
        <div>
            {% for build in frequent_build.builds|dictsortreversed:"support" %}
            <div class="row">
                {% comment %} Esta elección se realiza el {{ build.support }}% de las partidas: {% endcomment %}
                <div class="col-12 col-md-4 mb-2 mb-md-0">
                    Porcentaje de elección
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar bg-success" role="progressbar" style="height: 25px; width: {{ build.support|floatformat:"0" }}%;" aria-valuenow="{{ build.support }}" aria-valuemin="0" aria-valuemax="100">{{ build.support }}%</div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    {% for item in build.items %}
                        <img class="img-fluid" src={{ item.image.url }} data-bs-toggle="tooltip" data-bs-placement="top" title="{{ item.name }}">
                    {% endfor %}
                </div>
                <hr/>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            En este momento no existen conjuntos de objetos para el campeón seleccionado
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}