{% extends "betterbuilds/base.html" %} {% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Better Builds</h1>
            <p class="col-md-8 fs-3">
                ¿Recién llegado a League of Legends? ¿Sabes jugar pero quieres
                experimentar con nuevos campeones?
            </p>
            <p class="col-md-12 fs-4">
                Ningún problema con Better Builds. Analizamos constantemente las
                partidas de los mejores jugadores para proporcionar las mejores
                combinaciones de objetos para cada campeón.
            </p>
            <p class="col-md-12 fs-4">
                Mediante el uso de aprendizaje no supervisado, somos capaces de
                extraer el conocimiento de los mejores jugadores para que tú no
                te sientas perdido durante tus partidas. ¿Listo para jugar?
            </p>
            <a class="btn btn-primary btn-lg" type="button" href="{% url 'champions' %}">
                Explorar campeones
            </a>
        </div>
    </div>
</div>
{% endblock %}
